<!DOCTYPE html>
<html>
<head>
	<title>Users Main Page</title>
</head>
<body>
	<h1>Users</h1>
	<table>
		<tr>
			<th>id</th>
			<th>Full Name</th>
			<th>Email</th>
			<th>Created At</th>
			<th>Actions</th>
		</tr>
		{% for user in all_users %}
			<tr>
				<td>{{user.id}}</td>
				<td><a href="/users/{{user['id']}}">{{user.first_name}} {{user.last_name}}</a></td>
				<td>{{user.email}}</td>
				<td>{{user.created}}</td>
				<td><a href="/users/{{user.id}}">Show</a> <a href="/users/{{user.id}}/edit">Edit</a> <a href="/delete/{{user.id}}">Delete</a></td>
			</tr>
		{% endfor %}
	</table>
	<a href="/users/new">Add a new user</a>
</body>
</html>